{% extends "@JubilacionesDeclaraciones/layout-publico.html.twig" %}
{% block title 'Condiciones de uso' %}
    {% block metadesc %}Condiciones de uso{% endblock %}
    {% block pageid 'admin' %}
        {% block body %}
            {# app/Resources/views/security/login.html.twig #}
            {% if error %}
                <div>{{ error.message }}</div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <p>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
                <p>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
                <p>
                <input type="checkbox" id="remember_me" name="_remember_me" checked />
                <label for="remember_me">Recordarme</label>
                &nbsp;
                <p>&nbsp;
                <input type="submit" name="login" />
            </form>
        {% endblock %}
