{% extends "base.html.twig" %}
{% block header %}
    <h1 class="grid_5 alpha"><a href="">DDJJ</a></h1>
    <nav class="grid_11 omega">
        <ul>
            <li><a href="">Sitio p&uacute;blico</a></li>
            <li><a href="">Organismos</a></li>
            <li><a href="{{ path('admin_representante_listar') }}">Representantes</a></li>
            <li><a href="{{ path('admin_declaraciones_listar') }}">Declaraciones</a></li>
        </ul>
    </nav>
    <h1>{{ block('title') }}</h1>
{% endblock %}