{% extends "base.html.twig" %}
{% block header %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="">Notificaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Politicas</a>
      </li>
    </ul>
    <ul class="list-inline custom-icon-middle">

      <li class="list-inline-item">
        <a class="nav-link" href="{{ path('login') }}">Ingresar <span class="sr-only">(current)</span></a>
      </li>
    <!--  <li class="list-inline-item">
    <a href="" title="Salir"><i class="material-icons">exit_to_app</i></a>
    </li>-->
    </ul>

{% endblock %}
