{% extends "base.html.twig" %}
{% block header %}
    <h1 class="grid_5 alpha">
         <a href="">    <img src="http://listas.santafe.gob.ar/boletines/images/diseno2020/Marca_SantaFev3-07.png" width="120">
       &nbsp;&nbsp;PredeJu </a>
    </h1>
    <nav class="grid_11 omega">
        <ul>
            <li><a href="">Representantes</a></li>
            <li><a href="{{ path('login') }}">Ingresar</a></li>
        </ul>
    </nav>
    <h1>{{ block('title') }}</h1>
{% endblock %}